:root {
    box-sizing: border-box;
}

#board {
    height: 400px;
    width: 250px;
    display: flex;
    
}

.column {
    display: flex;
    border: 3px solid rgba(152, 128, 126, 0.829);
    flex-grow: 1;
    flex-direction: column-reverse;
    

}
/* .rowbox {
    height: 110px;
    width: 110px;
    border: 2px solid rgba(152, 128, 126, 0.829);
} */
.disc {
    height:20px;
    border-radius: 50%;
}

.disc.pl1 {
   background-color: black;
}

.disc.pl2 {
    background-color: red;
}
